<div>
  <div class="alert alert-primary text-center" role="alert" *ngIf="loading">
    <h4>Loading...</h4>
    <p><i class="fa fa-sync fa-spin fa-2x"></i></p>
  </div>
  <div class="alert alert-danger text-center" role="alert" *ngIf="error">
    <h4>Error</h4>
    <pre>{{ error | json }}</pre>
  </div>
  <div class="row" *ngIf="!loading">
    <div
      class="col-sm-6 col-lg-4 col-xl-3 my-2"
      *ngFor="let user of users; trackBy: trackByFn"
    >
      <div class="card">
        <img
          [src]="user.avatar"
          class="card-img-top"
          alt="{{ user.first_name }} {{ user.last_name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
          <p class="card-text">Some quick example text to build.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
